<h2>Sign up</h2>
<form [formGroup]="signupForm" (ngSubmit)="signup()">
  <div class="mb-3">
    <label for="username" class="form-label">User name</label>
    <input type="text" formControlName="username" class="form-control" id="username" name="username">

  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" formControlName="email" class="form-control" id="email" name="email"
      aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" name="password" id="password">
  </div>

  <button [disabled]="!signupForm.valid" type="submit" class="btn btn-primary">Submit</button>

</form>