<td>{{user?.name}}</td>
<td>{{user?.lastname}}</td>
<td>{{user?.fiscalcode}}</td>
<td>{{user?.email}}</td>
<td>{{user?.phone}}</td>
<td>{{user?.province}}</td>
<td>{{user?.age}}</td>
<td>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-sm btn-primary w-50" [routerLink] ="['/users',user?.id ]">
        <fa-icon [icon]="faInfo"></fa-icon>
      </a>
    </div>
    <div class="col-sm">
  <a class="btn btn-sm btn-primary w-50" [routerLink] ="['/users',user?.id ,'edit']">
    <fa-icon [icon]="faPen"></fa-icon>
    </a>
    </div>
    <div class="col-sm">
  <button class="btn btn-sm btn-danger w-50" (click)="deleteUser()"> <fa-icon [icon]="faTrash"></fa-icon></button>
  </div>
  </div>
</td>
