<td>{{user?.name}}</td>
<td>{{user?.lastname}}</td>
<td>{{user?.fiscalcode}}</td>
<td>{{user?.email}}</td>
<td>{{user?.phone}}</td>
<td>{{user?.province}}</td>
<td>{{user?.age}}</td>
<td>
  <div class="row">
    <div class="col-sm">
  <button class="btn btn-sm btn-primary" (click) = "updateUser()">
    <fa-icon [icon]="faPen"></fa-icon>
  </button>
    </div>
    <div class="col-sm">
  <button class="btn btn-sm btn-danger" (click)="deleteUser()"> <fa-icon [icon]="faTrash"></fa-icon></button>
  </div>
  </div>
</td>
